.result-row {
    margin: 8px 0;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.2s;
    position: relative;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}